<%- include ('./partials/header.ejs')%>
        <main>
            <section class="image-container">
                <img src="images/vehicle-hero.jpg" alt="a picture of a parking lot">
            </section>
            <section class="welcome">
                <h1>AutoHaven</h1>
                <p>
                    Welcome to AutoHaven! Your ultimate hub for car enthusiasts and casual buyers alike. Discover a diverse range of vehicles and find the perfect match for your needs. Start exploring today!
                </p> 
                <a href="/market" class="redirect-button">START EXPLORING</a>        
            </section>
        </main>
<%- include ('./partials/footer.ejs')%>